In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.sample(5)

      User ID  Gender  Age  EstimatedSalary  Purchased
134  15800061  Female   28            55000          0
356  15778368    Male   54            70000          1
241  15736228    Male   38            59000          0
386  15724150  Female   49            39000          1
162  15599533  Female   37            33000          0

In [4]:
df.shape

(400, 5)

<h3>1. Data Cleaning</h3>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [6]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
df.duplicated().sum()

0

<h3>2. Exploratory Data Analysis</h3>

In [8]:
df['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

<h3> Balancing The Dataset</h3>